@model bool

@{
    ViewBag.Title = "Home Page";
}

<h2>Extensions</h2>

<div class="col-md-12">
    @Html.ActionLink("Get Chrome extension", "GetChromeExtension", null, new { @class = "btn btn-default" })
</div>

<hr/>

<h2>Configs</h2>

<div class="col-md-12">
    @if (!Model)
    {
        <span>Please, set the @Html.ActionLink("Apprenda Settings", "Edit", "ApprendaSettings").</span>
    }
    else
    {
        @Html.ActionLink("Get Client App Config", "GetClientAppConfig", null, new { @class = "btn btn-default", target = "_blank" })
    }
</div>

<hr/>

<h2>Scripts</h2>

<div class="form-horizontal col-md-12">
    <h3>Set all permissions</h3>
    <div ng-app ng-init="role='Developer'; check=true">
        <div class="form-group">
            <label class="control-label col-md-1" for="scriptRoleInput">Role</label>
            <div class="col-md-2">
                <input id="scriptRoleInput" class="form-control" type="text" ng-model="role" />
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox" ng-model="check"> Enable permissions
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <textarea class="form-control" rows="2">javascript: (function() { var a = document.querySelectorAll('[rolename="{{role}}"] [type="checkbox"]'); for (var i = 0; i < a.length; i++) { if (a[i].checked != "{{check}}") { a[i].click(); } } })()</textarea>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angular")
}