@model bool

@{
    ViewBag.Title = "Home Page";
}

<h2>Extensions</h2>

<div>
    @Html.ActionLink("Get Chrome extension", "GetChromeExtension", null, new { @class = "btn btn-default" })
</div>

<hr/>

<h2>Configs</h2>

@if (!Model)
{
    <span>Please, set the @Html.ActionLink("Apprenda Settings", "Edit", "ApprendaSettings").</span>
}
else
{
    @Html.ActionLink("Get Client App Config", "GetClientAppConfig", null, new { @class = "btn btn-default", target = "_blank" })
}

<hr />

<h2>Scripts</h2>

<h3>Set all permissions</h3>
<textarea class="form-control" rows="1">javascript: (function() { var a = document.querySelectorAll('[rolename="Developer"] [type="checkbox"]'); for (var i = 0; i < a.length; i++) { if (!a[i].checked) { a[i].click(); } } })()</textarea>