@model bool

@{
    ViewBag.Title = "Home Page";
}

<h2>Configs</h2>

<div class="form-horizontal col-md-12">
    <div class="panel panel-success">
        <div class="panel-body">
            @if (!Model)
            {
                <span>Please, set the @Html.ActionLink("Apprenda Settings", "Edit", "ApprendaSettings").</span>
            }
            else
            {
                @Html.ActionLink("Client App Config", "GetClientAppConfig", null, new { @class = "btn btn-default", target = "_blank" })
            }
        </div>
    </div>
</div>

<h2>Scripts</h2>

<div ng-app ng-init="role='Developer'; check=true">
    <div class="form-horizontal col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Set all permissions</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2" for="scriptRoleInput">Role</label>
                    <div class="col-md-2">
                        <input id="scriptRoleInput" class="form-control" type="text" ng-model="role"/>
                    </div>
                    <div class="checkbox col-md-2">
                        <label>
                            <input type="checkbox" ng-model="check"> Enable permissions
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea readonly class="form-control default-cursor" rows="2">javascript: (function() { var a = document.querySelectorAll('[rolename="{{role}}"] [type="checkbox"]'); for (var i = 0; i < a.length; i++) { if (a[i].checked != "{{check}}") { a[i].click(); } } })()</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong>Add User to the Organizational Unit</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2" for="sqlEmailInput">User E-mail</label>
                    <div class="col-md-6">
                        <input id="sqlEmailInput" class="form-control" type="text" ng-model="email"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="sqlUserIdInput">User ID</label>
                    <div class="col-md-6">
                        <input id="sqlUserIdInput" class="form-control" type="text" ng-model="uid"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea readonly class="form-control default-cursor" rows="2">INSERT INTO F_Users([Guid], [Email], [OrganizationalUnit_id]) VALUES ('{{uid}}', '{{email}}', 1)</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Extensions</h2>

<div class="form-horizontal col-md-12">
    <div class="panel panel-danger">
        <div class="panel-body">
            @Html.ActionLink("Chrome Extension", "GetChromeExtension", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/angular")
}